<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <!-- Token Field -->
    <input id="token" formControlName="token" type="hidden" />

    <!-- Password Field -->
    <div class="form-group">
      <label for="password">New Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        required
      />
      <div *ngIf="password?.invalid && password?.touched" class="error">
        Password must be at least 6 characters long.
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        required
      />
      <div
        *ngIf="
          confirmPassword?.invalid &&
          (confirmPassword?.dirty || confirmPassword?.touched)
        "
        class="error"
      >
        <small *ngIf="confirmPassword?.errors?.['required']"
          >Confirm Password is required.</small
        >
        <small *ngIf="resetPasswordForm.errors?.['mismatch']"
          >Passwords do not match.</small
        >
      </div>
    </div>

    <!-- Success Message -->
    <div
      *ngIf="successMessage$ | async as successMessage"
      class="success-message"
    >
      <small>{{ successMessage }}</small>
    </div>

    <!-- Error Message -->
    <div *ngIf="error$ | async as error" class="error-message">
      <small>{{ error }}</small>
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
  </form>
</div>
